<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
</head>
<body>
  <%= form_with do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.submit "SignUp" %>
  <% end %>
</body>
</html>